<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">SISTEMA DE GESTIÓN DE REQUERIMIENTOS
                </h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Bienvenido, este es el sistema de gestión de requerimientos de la universidad Jorge Tadeo lozano. Te la ponemos fácil
!</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="/signin">Crea tu solicitud</a>
            </div>
        </div>
    </div>
</header>

<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">SIGER</h2>
                <hr class="divider my-4">
                <p class="text-muted mb-5">Este desarrollo fue promovido por el programa de Ingeniería de Sistemas, dos estudiantes llevaron a cabo el diseño y desarrollo de esta aplicación para que tu experiencia en la universidad sea más agradable. Esperamos obtengas el máximo provecho de SIGER.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>Geovanni Alexander Engativa</div>
                <a class="d-block" href="https://www.linkedin.com/in/geovanni-alexander-engativa-montaña-30514a16a">LINKEDIN</a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <div>Camilo Díaz Jaimes</div>
                <a class="d-block" href="https://www.linkedin.com/in/camilo-diaz-jaimes-611184169">LINKEDIN</a>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="bg-light py-5">
    <div class="container">
        <div class="small text-center text-muted">Copyright &copy; 2019 - Geovanni Engativa</div>
        <div class="small text-center text-muted">Camilo Díaz</div>
    </div>
</footer>